*{
    font-family: Arial, Helvetica, sans-serif;
}
.nav {
    display: flex;
    justify-content: space-between; /* Aligns left and right sections */
    padding: 0 2em; /* Adds padding on the sides */
    overflow-x: hidden; /* Prevents horizontal overflow */
}

.left a, .right a, .bottom a {
    margin: 0 1em; /* Adds spacing between links */
    color: black;
    top: 1em;
    text-decoration: none;
}


hr {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, #ccc, #000, #ccc); /* Adds a gradient */
    margin: 20px 0; /* Adds spacing around the line */
}
.Ableton{
    position: absolute;
    left: 480px;
    top: 100px;
    font-size: 8em;
    color: rgb(255, 86, 86);
    text-align: center;
}

.alb-img{
    position: absolute;
    left: 7em;
    top: 10em;
}

.text1{
    position: absolute;
    left: 20em;
    font-size: 20px;
}

.yellowbox{
    height: 900px;
    width: 798px;
    background-color: rgb(251, 255, 167);
    position: absolute;
    top: 70em;
    left: 45em;
}

.yell-img1{
    position: absolute;
    left: 170px;
    top: 80em;
}

.yell-img2{
    position: absolute;
    left: 970px;
    top: 90em;
}

.text2{
    position: absolute;
    left: 20em;
    font-size: 15px;
    padding: 10em;
    top: 130em;
}

.img3{
    position: absolute;
    top: 150em;
    left: 20em;
}