*{
    font-family: Arial, Helvetica, sans-serif;
}
.nav {
    display: flex;
    justify-content: space-between; /* Aligns left and right sections */
    padding: 0 2em; /* Adds padding on the sides */
    overflow-x: hidden; /* Prevents horizontal overflow */
}

.left a, .right a, .bottom a {
    margin: 0 1em; /* Adds spacing between links */
    color: black;
    top: 1em;
    text-decoration: none;
}

hr {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, #ccc, #000, #ccc); /* Adds a gradient */
    margin: 20px 0; /* Adds spacing around the line */
}

.img{
    display: flex;
    justify-content: center;
}

img{
    z-index: -1;
}

.Ableton{
    color: rgb(255, 153, 0);
    text-align: center;
}